.ciufciuf {
    background-image: url("img/train_line8_green.png");
    background-repeat: repeat-x;
}

.shadow {
    text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}